<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ギャラリーへようこそ</title>
    <style>
    .center-container {
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="center-container">
    <h1>ギャラリー</h1>
    <select name="selection" onchange="if(this.value) window.location.href='/users/'+this.value;">
        <option value="">ユーザーギャラリー</option>
        @ForEach (var User in Users) {<option value="@User.Name">@User.Name 様</option>}
    </select>
    </div>
</body>
</html>